.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  position: relative;
  height: 100px;
  width: 450px;
  padding: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.imagediv {
  display: flex;
  height: 100%;
  width: 150px;
  position: absolute;
  z-index: 0;
  padding: 5px;
  overflow: hidden;
}

.appimage {
  width: 100%;
}

.textdiv {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding: 5px;
  position: absolute;
  right: 0;
  z-index: 1;
  align-items: flex-end;
  gap: 5px;
  color: #314f4f;
}

.appname {
  font-size: 24px;
}

.appdesc {
  font-size: 14px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.appstack {
  display: flex;
  gap: 2px;
}

.applinks {
  display: flex;
  gap: 5px;
}

.stack {
  padding: 3px;
  background-color: #2a5f55;
  color: #fff;
  border-radius: 2px;
  font-size: 14px;
}
