.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.topbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 20px;
  height: 20px;
}
