.frametitlebar {
  display: flex;
}

.frametitle {
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10px;
  gap: 5px;
  padding: 5px;
}

.frameicon {
  width: 20px;
  height: 20px;
}

.firstbar {
  width: 90%;
}

.secondbar {
  width: 10%;
}
