.frame {
  width: 500px;
  position: relative;
  border-top: 2px solid #fafafa;
  border-right: 1px solid #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
}

.frametitlebar {
  display: flex;
}

.frametitle {
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 10px;
  gap: 5px;
  padding: 5px;
}

.frameicon {
  width: 20px;
  height: 20px;
}

.firstbar {
  width: 90%;
}

.secondbar {
  width: 10%;
}
